.container
  .navbar-header
    %button.navbar-toggle.collapsed{type: "button", "data-toggle"=>"collapse", "data-target"=>".navbar-collapse"}
      %span.sr-only Toggle navigation
    %a.navbar-brand{"ui-sref"=>"home"} ACL Framework
  .navbar-collapse.collapse{"ng-controller"=>"SessionsController"}  
    %form.navbar-form.navbar-right{"ng-submit"=>"signIn()", "ng-show"=>"!current_user"}
      .form-group
        %input.form-control{type: "text", placeholder: "Username", "ng-model"=>"user.username"}
      .form-group
        %input.form-control{type: "password", placeholder: "Password", "ng-model"=>"user.password"}
      %button.btn.btn-success{type: "submit"} Sign in
      %button.btn.btn-success{"ui-sref"=>"signup"} Sign Up
    .navbar-text.navbar-right{"ng-show"=>"current_user"}
      Welcome, {{current_user.username}}!
      %button.btn.btn-default{"ui-sref"=>"admin"} Admin
      %button.btn.btn-default{"ui-sref"=>"calendar"} Calendar
      %button.btn.btn-warning{"ng-click"=>"signOut()"} Sign Out
