%h1
  Users

%table.table.table-hover
  %thead
    %tr
      %td #
      %td Username
      %td Token
      %td Action
  %tbody
    %tr{"ng-repeat"=>"user in users"}
      %td
        {{$index + 1}}
      %td
        {{user.username}}
      %td
        {{user.token}}
      %td
        %button.btn.btn-default{"ng-if"=>"current_user.username != user.username", "ng-click"=>"destroy($index)"} Remove
        %button.btn.btn-default{"ui-sref"=>"password({user_id: user._id})"} Change Password
