!!!
%html{"ng-app"=>"ACL"}
  %head
    %title ACL
    %meta{charset: "utf-8"}
    %meta{name:"viewport", content:"height=device-height, width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"}

    %link{href: "assets/stylesheets/application.css", rel: "stylesheet", type: "text/css"}
    %link{href: "assets/stylesheets/fontello.css", rel: "stylesheet", type: "text/css"}
    %link{href: "assets/stylesheets/animation.css", rel: "stylesheet", type: "text/css"}

    %script{src:"assets/javascripts/application.js"}
    %script{src:"assets/javascripts/config/environments/#{environment}.js"}
%body
  .template{"ui-view" => "template", "ng-controller"=>"AlertController"}